header {
  padding: 35px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  transition: all 0.3s ease;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ul.menu-list {
    display: flex;
    margin: 0;
    list-style: none;
    li {
      margin-left: 40px;
    }
    a {
      font-weight: 700;
      text-decoration: none;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      font-family: "Work Sans", sans-serif;
      color: #ffffff;
    }
  }

  a.btn-primary {
    background-color: #9aca3c;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    padding: 10px 20px;
  }

  &.scrolled {
    padding: 10px 0;
    background: linear-gradient(180deg, #002a35 0%, #001e26 424.93%);
  }

  .mobile-menu-toggler {
    border: 0;
    background-color: transparent;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .cross {
      display: none;
      path {
        fill: #94c23a;
      }
    }
  }

  .site-link {
    max-width: 140px;
    height: 40px;
  }

  @media only screen and (max-width: 768px) {
    padding: 16px 0px;
    background: linear-gradient(180deg, #002a35 0%, #001e26 424.93%);
    .menu-wrapper {
      height: calc(100% - 80px);
      position: fixed;
      top: 80px;
      left: 0;
      background: #002029;
      width: 100%;
      overflow-y: auto;
      transition: all 0.3s ease;
      transform: translateX(100%);
    }
    &.scrolled {
      .menu-wrapper {
        top: 60px;
        height: calc(100% - 60px);
      }
    }
    ul.menu-list {
      display: block;
      margin: 0;
      padding: 20px 0 30px 0;
      width: 100%;
      padding-top: 20px;
      a {
        padding: 20px 0;
        display: block;
        font-size: 16px;
      }

      a.btn-primary {
        margin-top: 15px;
        display: inline-block;
        padding: 10px 15px;
      }
    }
  }
}

// when menu opened
@media only screen and (max-width: 768px) {
  html.mobile-menu-opened {
    overflow: hidden;
    header .menu-wrapper {
      transform: translateX(0);
    }
    header {
      .mobile-menu-toggler {
        .hamburger {
          display: none;
        }
        .cross {
          display: block;
        }
      }
    }
  }
}
